<div class="bg-gray-800">
    <div class="max-w-screen-lg px-4 sm:px-6 sm:grid md:grid-cols-4 sm:grid-cols-2 mx-auto">
        <div class="p-5">
            <h3 class="font-bold text-xl text-white">Job Tracker</h3>
        </div>
        <div class="p-5">
            <div class="text-sm uppercasefont-bold text-white">Resources</div>
            <a class="my-3 block text-white" href="/#">Documentation <span class="text-xs p-1"></span></a>
            <!-- <a class="my-3 block text-white" href="/#">Tutorials <span class="text-xs p-1"></span></a> -->
            <!-- <a class="my-3 block text-white" href="/#">Support <span class="text-xs p-1">New</span></a> -->
        </div>
        <div class="p-5">
            <div class="text-sm uppercase text-indigo-600 font-bold text-white">Support</div>
            <a class="my-3 block text-white" href="/#">Help Center <span class="text-xs p-1"></span></a>
            <!-- <a class="my-3 block text-white" href="/#">Privacy Policy <span class="text-xs p-1"></span></a> -->
            <!-- <a class="my-3 block text-white" href="/#">Conditions <span class="text-xs p-1"></span></a> -->
        </div>
        <div class="p-5">
            <div class="text-sm uppercase text-indigo-600 font-bold text-white">Contact us</div>
            <a class="my-3 block text-white" href="/#">Allen, TX<span class="text-xs p-1 text-white"></span></a>
            <a class="my-3 block text-white" href="/#">hangkheangtaing&#64;.com<span class="text-xs p-1 text-white"></span></a>
        </div>
    </div>
</div>