<!-- <footer class="page-footer font-small blue-grey lighten-5">
    <div class="container text-center text-md-left mt-3 pt-5">
        <div class="row mt-3 dark-grey-text">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold text-light">Information</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">About Us</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Contact Us</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Terms Of Use</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">FAQs</a>
                </p>

            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold text-light">Job seekers</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Job Search</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Career Advices</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Resume Builder</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Report a Problem</a>
                </p>

            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold text-light">Employers</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Job Posting</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Advertise With Us</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Access Resumes</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">FAQs</a>
                </p>

            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <h6 class="text-uppercase font-weight-bold text-light">Stay Connected</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                <p>
                    <a class="fb-ic">
                        <i class="fa fa-facebook-official white-text mr-4 text-light"><span
                                class="icon_name">Facebook</span></i>
                    </a>
                </p>
                <p>
                    <a class="tw-ic">
                        <i class="fa fa-twitter white-text mr-4 text-light"><span class="icon_name">Twitter</span></i>
                    </a>
                </p>
                <p>
                    <a class="li-ic">
                        <i class="fa fa-linkedin white-text mr-4 text-light"><span class="icon_name">Linkedin</span></i>
                    </a>
                </p>
                <p></p>
                <a class="ins-ic">
                    <i class="fa fa-instagram white-text text-light"><span class="icon_name">Instagram </span></i>
                </a>
            </div>
        </div>
    </div>
</footer> -->



<footer class="page-footer font-small blue-grey lighten-5">
    <div class="container text-md-left mt-3 pt-2">
        <p class="dark-grey-text" style="text-align: center;">&copy; {{ currentYear }} JobTracker. All rights reserved.
        </p>
    </div>
</footer>