<section id="jobs">
    <div class="container">
        <h5>RECENT JOB UPDATES ({{total_job}})</h5>

        <app-jobs [userId]="userId" [jobs]="jobs" (viewJobDetailEvent)="onViewJobDetail($event)"
            (updateStatusEvent)="onUpdateJobStatus($event)" (applyEvent)="onApplyJob($event)"
            (editJobEvent)="onEditJob($event)">
        </app-jobs>

        <ul class=" pagelink text-center" (keydown)="onKeydown($event)">
            <li class="right-arrow" (click)="previouse()">&#8592;</li>
            <label>{{page}}/{{total_page ? total_page : '?'}}</label>
            <li class="right-arrow" (click)="next()">&#8594;</li>
        </ul>
    </div>
</section>