<div class="banner text-center">
    <h1 *ngIf="!isEmpty"><span style="color: aqua; font-size: 1.7em;">1000+</span> Jobs on JobTracker</h1>
    <p *ngIf="!isEmpty">We provide job seekers with a premium experience by offering verified, up-to-date job listings
        directly from
        employer websites. Our platform ensures a streamlined process for finding and applying to the most relevant
        opportunities, helping both job seekers and employers connect efficiently and effectively.</p>
    <h1 *ngIf="title != null">{{title}}</h1>
    <p *ngIf="description != null">{{description}}</p>
</div>