<div class="banner text-center">
    <h1><span style="color: aqua; font-size: 1.7em;">1000+</span> Jobs on Jobsite</h1>
    <p>With verified, up-to-date job listings directly from employer websites,<br>

        we create a premium experience for job seekers, employers,<br>

        Quickly find and apply for the jobs you want</p>
</div>
<app-top-technologies></app-top-technologies>

<app-jobs></app-jobs>

<section id="site-stats">
    <div class="container text-center">
        <h3>JOBSITE STATS</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="stats-box">
                            <i class="fa fa-user-o"></i><span><small>100k + </small></span>
                            <p>Job Seekers</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="stats-box">
                            <i class="fa fa-slideshare"></i><span><small>500k + </small></span>
                            <p>Technologies</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="stats-box">
                            <i class="fa fa-hand-peace-o"></i><span><small>10k + </small></span>
                            <p>Active Jobs</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="stats-box">
                            <i class="fa fa-building"></i><span><small>400k + </small></span>
                            <p>Companies</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>